
<div class="uk-margin uk-margin-right">

  <% if(typeof data != 'undefined' ) { %>
    <form class="add-form-box">

        <label class="username"> First Name </label >
        <input class="uk-input" name="name" value="<%= data.first_name %> " readonly >

        <label class="username"> Last Name </label >
          <input class="uk-input" name="name" value="<%= data.last_name %> " readonly>

        <label> Email </label>
        <input class="uk-input" name="email" value="<%= data.email %> " readonly> 

        <label> Gander </label>
        <input class="uk-input" name="gander" value="<%= data.gander  %> " readonly> 

        <label> Date of birth </label>
        <input type="text" class="uk-input" name="birth_date" value="<%= data.birth_date %>" readonly> 
   
      </form>
 <% } %> 

    <p class="add-form-box" style="color:black;">* You are about to add environment to the above patient, if the patient already has an environment then its will change the current environment after this process</p>
 
    <form class="add-form-box" action="/AdminRequest/:<%= data.player_id %>/submit" method="POST"> 
      <label class=" uk-text-light "> Select Enviroment </label>
      <select class="uk-select" name="Enviroment">
          <option class="option" value="school"> School </option>
          <option class="option" value="market"> Market </option>
          <option class="option" value="garden"> Garden </option>
      </select>

     <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom uk-margin-small-top" type="submit"> Add </button>
    </form>

</div>





  


