
<!-- Search style -->
 <style>
   .table-scroll {
     overflow:auto;  
    }

    #search-bar {
      margin-bottom: 20px;
    }
    
    #search-bar input {
      width: 25%;
      height: 25px;
      border-radius: 3px;
    }
          
</style>
        
 <div  id="search-bar">
          <form action="/home/search" method="GET">
            <input  type="search" name="search_value" placeholder=" ðŸ” by name " >
            <button type="submit"> </button>
          </form>
</div>
   
<div class="uk-overflow-auto">
  <div class="table-scroll">
        <table class="uk-table uk-table-striped uk-table-small" id="Table-data">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Full Name </th>
              <th scope="col"> Anxiety type </th>
              <th scope="col"> Anxiety Status </th>
              <th scope="col"> Edit </th>
              <th scope="col"> Add Enviroment </th>
              <th scope="col"> Delete </th>
            </tr>
          </thead>

          <tbody>
            <%if (typeof data != 'undefined' && data.length > 0) { %>
              <% var i = 1 %> 
              <% var string = '' %> 
              <% data.forEach(function(row){ %>
            <tr>
              <td> <%= i++%>  </td>
              <td> <%= string.concat(row.first_name + "  " + row.last_name)  %> </td>
              <td> <%= row.anxiety_type %> </td>
              <td>
                <a href="/list/chart/:<%=row.player_id%> ">
                  <span class="title">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bar-chart-line" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"/>
                    </svg>
                    view
                  </span>
                </a>
              </td>

              <td>
                <a href="/list/:<%=row.player_id%> /edit">
                  <span class="title">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                    edit
                  </span>
                </a>
              </td>

              <td>
                <a href="/AdminRequest/addEnv/:<%=row.player_id%> ">
                  <span class="title">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                      <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                    add enviroment
                  </span>
                </a>
              </td>

              <td>
                <a class="uk-button uk-button-danger uk-margin uk-button-small"
                href="/list/delete/:<%=row.player_id%>"
                > 
               Delete </a>
              </td>

            </tr>
            <% })} else { %>
              <% if (typeof found != 'undefined') {%> 
                <% if(found == 'no') {%> 
                  <tr>
                    <td colspan="6"> No patient found </td>
                    
                  </tr>
                <% } else { %> 
                <tr>
                  <td colspan="6">No records is there yet</td> 
                </tr>
              <% } } }%>
          </tbody>
        </table>
  </div>
</div>